{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="form">
  <div class="form__line">
    <div>
      <h3 class="form__title">{{info}}</h3>
      <p class="form__comment">{{comment}}</p>
    </div>
    <a href="/product-list" class="form__button">Повернутись назад</a>
  </div>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}