@use'../../lib/service.scss' as s;

body {
    padding: s.space(4);
}

.form {
    display: flex;
    padding: s.space(4);
    flex-direction: column;
    gap: s.space(8);
    border: 1px solid s.color('light');
    border-radius: 10px;
    padding: s.space(4);

    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);

    }

    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__comment {
        font-size: 18px;
        color: s.color('labelcolor');
        padding-top: s.space(4);
    }

    &__button {
        display: flex;
        justify-self: flex-end;
        font-size: 18px;
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 6px;
        background-color: s.color('primary');
        color: s.color('whiteLight');
        height: max-content;
        padding: s.space(3);
        padding-inline: s.space(15);
        text-decoration: none;
    }
}