@use'../../lib/service.scss' as s;

.card {
    display: flex;
    flex-direction: column;
    margin-top: s.space(10);
    gap: s.space(8);
    border: 1px solid s.color('light');
    border-radius: 20px;
    padding: s.space(4);

    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
    }

    &__content {
        display: grid;
        gap: s.space(4);
        line-height: 1.5;
        padding-inline: s.space(2);
    }

    &__line {
        display: grid;
        align-items: center;
        gap: s.space(6);
        grid-template-columns: repeat(2, 1fr);
    }

    &__comment {
        font-size: 14px;
        color: s.color('labelcolor');
    }

    &__price {
        font-size: 20px;
        font-weight: bold;
    }

    &__link {
        display: flex;
        justify-content: flex-end;
        padding: s.space(2);
        color: s.color('primary');
        text-decoration: none;
    }
}