@use'../../lib/service.scss' as s;

@use "../../component/purchase-heading/style.scss" as purchaseHeading;
@use "../../component/field/style.scss" as field;
@use "../../component/divider/style.scss" as divider;
@use "../../component/button/style.scss" as link;

.main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.form-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: s.space(5);
    padding: s.space(5);
    border: 1px solid s.color(light);
    border-radius: 10px;
}

.button {
    width: 100%;
}

.grid-1 {
    display: grid;
    gap: s.space(5);
    grid-template-columns: 50%;
}


.field__input {
    border: none;
    padding-left: 0;
}

.grid-2 {
    display: grid;
    gap: s.space(5);
    grid-template-columns: repeat(2, 1fr);
}