{{#with data}}
<div class="spotify-card">
    <img src="{{image}}" alt="{{name}}" class="spotify-card__img">
    <h2 class="spotify-card__name">{{name}}</h2>
    <p class="spotify-card__amount">кілкість пісень: {{amount}} </p>
</div>
{{/with}}